{% extends "expense/layout.html" %}

{% block title %} Budgets {% endblock %}

{% block script %}

    <style>

        .overbudget {
            background-color: red;
            color: white;
        }

    </style>

    <script>

        document.addEventListener('DOMContentLoaded', function() {

            budgets = document.querySelectorAll('.budget')
            budgets.forEach(budget => {
                
                const budget_amt = parseFloat(budget.querySelector('#budget_amt').innerHTML)
                let expense_amt = (budget.querySelector('#expense_amt'))
                if (expense_amt) {
                    expense_amt = parseFloat(expense_amt.innerHTML);
                }
                else {
                    expense_amt = 0;
                }
                const per = expense_amt/budget_amt * 100;
                
                
                if (per >= 100) {
                    budget.classList.add('overbudget')
                }
                else if (per >= 80) {
                    budget.style.backgroundImage = `linear-gradient(to right, orange ${per}%, rgba(0,0,0,0) ${per}%)`
                    
                }
                else {
                    budget.style.backgroundImage = `linear-gradient(to right, #28a745 ${per}%, rgba(0,0,0,0) ${per}%)`
                }
                
            });
            
        })

    </script>

{% endblock %}

{% block body %}

    <h2 class="ml-2">Budget</h2>
    
    {% if user.is_authenticated %}

    <div class="row border border-dark rounded ml-2 mb-2 col-12 col-md-9 col-lg-6 p-0 pt-2">

        <div class="py-1 pl-2 mb-1 border-bottom border-dark title w-100"><h5>Budget(Per Month)</h5></div>
        
        {% for budget in budgets %}

            <div class="border border-dark rounded mx-2 my-2 w-100 budget">

                <div class="mb-2 col-12">

                    <h5 class="mt-2 card-title" >{{ budget.category.title }}</h5>
                    {% for expense in expenses %}
                        {% if expense.category == budget.category.id %}
                            <b>Expense: </b>Rs.<a id="expense_amt">{{ expense.total_amount }}</a> 
                        {% endif %}
                    {% endfor %}
                    <br>
                    <b>Budget: </b>Rs.<a id="budget_amt">{{ budget.amount }}</a>

                </div>
            </div> 

        {% empty %}
            
            <div class="ml-2 mb-2"> No Budgets Set. </div>  

        {% endfor %}
    </div>

    {% else %}

        <a class="ml-2" href="{% url 'index' %}">Login Here</a>

    {% endif %}

{% endblock %}