{% extends "expense/layout.html" %}

{% block title %} Expenses {% endblock %}

{% block script %}

    <script>

        document.addEventListener('DOMContentLoaded', function() {

            const box = document.querySelector('#filters');
            const filter_btn = document.querySelector('#filter-btn');

            if (box && filter_btn) {
                filter_btn.addEventListener('click', function() {
                    if (box.classList.contains('showclass_e')) {
                        box.classList.remove('showclass_e');
                        box.classList.add('hideclass_e');
                        filter_btn.innerHTML = "Filter By"
                    } 
                    else {
                        box.classList.remove('hideclass_e');
                        box.classList.add('showclass_e');
                        filter_btn.innerHTML = "Hide"
                    }
                });
            }

            const sortSelect = document.getElementById('sort');
            const expenseList = document.querySelector('.expense-Lst');

            sortSelect.addEventListener('change', function () {
                let expenses = Array.from(document.querySelectorAll('.expense'));
                if (expenses.length === 0) return;

                expenses.sort((a, b) => {
                    let sortType = sortSelect.value; 

                    if (sortType.includes('date')) {
                        let dateA = new Date(a.querySelector('#date').innerText);
                        let dateB = new Date(b.querySelector('#date').innerText);
                        return sortType === 'date-asc' ? dateA - dateB : dateB - dateA;
                    }

                    if (sortType.includes('amount')) {
                        let amountA = parseFloat(a.querySelector('#amt').innerText.replace('Rs. ', ''));
                        let amountB = parseFloat(b.querySelector('#amt').innerText.replace('Rs. ', ''));
                        return sortType === 'amount-asc' ? amountA - amountB : amountB - amountA;
                    }

                    if (sortType.includes('category')) {
                        let catA = a.querySelector('#cat').innerText.toLowerCase();
                        let catB = b.querySelector('#cat').innerText.toLowerCase();
                        return sortType === 'category-asc' ? catA.localeCompare(catB) : catB.localeCompare(catA);
                    }
                });

                const title = document.querySelector('.title');

                const empty = document.querySelector('.empty');

                
                expenseList.innerHTML = '';
                expenseList.appendChild(title);
                expenses.forEach(expense => expenseList.appendChild(expense));
                expenseList.appendChild(empty);
            });
        })

        function filter() {
            let min = document.querySelector('.minFilter').value;
            let max = document.querySelector('.maxFilter').value;
            const month = document.querySelector('.monthFilter').value;
            const category = document.querySelector('.categoryFilter').value;
            const amt_msg = document.querySelector('.amt-msg');
            amt_msg.style.display = 'none';

            const expenses = document.querySelectorAll('.expense');
            if (expenses.length === 0) return;
            
            const emptyDiv = document.querySelector('.empty');
            let empty = 'block';
            emptyDiv.style.display = empty;
            let sum = 0;
            expenses.forEach(expense => {
                let isVisible = true

                if (category !== "") {
                    const cat = expense.querySelector('#cat').innerHTML
                    if (cat !== category) {
                        isVisible = false;
                    }
                }

                if (month !== "") {
                    const date = expense.querySelector('#date').innerHTML
                    const dateObj = moment(date, "MMMM D, YYYY").format('YYYY-MM-DD').slice(0,7); 
                    if (month !== dateObj) {
                        isVisible = false;
                    }
                }

                min = min ? parseFloat(min) : -Infinity;
                max = max ? parseFloat(max) : Infinity;

                const amt = parseFloat(expense.querySelector('#amt').innerHTML)

                if (min > max) {
                    amt_msg.style.display = 'block';
                    return;
                }

                if (min > amt || max < amt) {
                    isVisible = false;
                }
                if (isVisible === true) {
                    empty = 'none';
                    sum += amt;
                }

                expense.style.display = isVisible ? "block" : 'none';
            });

            emptyDiv.style.display = empty;

            total = document.querySelector('#total_expense');
            total.innerHTML = `<strong>Total Expense:</strong> Rs.${sum}`;
        }

        function clear_filter() {   
            let min = document.querySelector('.minFilter');
            let max = document.querySelector('.maxFilter');
            const month = document.querySelector('.monthFilter');
            const category = document.querySelector('.categoryFilter');
            min.value = "";
            max.value = "";
            month.value = "";
            category.value = "";
            
            const amt_msg = document.querySelector('.amt-msg')
            amt_msg.style.display = 'none';

            const expenses = document.querySelectorAll('.expense');
            if (expenses.length === 0) return;
            const emptyDiv = document.querySelector('.empty');

            emptyDiv.style.display = 'none';

            let sum = 0;
            
            expenses.forEach(expense => {
                expense.style.display = "block";
                sum += parseFloat(expense.querySelector('#amt').innerHTML);
            });

            total = document.querySelector('#total_expense');
            total.innerHTML = `<strong>Total Expense:</strong> Rs.${sum}`;
        }

        function delete_expense(event, id) {
            const btn = event.currentTarget;
            const expense = btn.parentElement.parentElement.parentElement.parentElement
            const total = document.querySelector('#total_expense');
            let sum = total.innerHTML
            sum = parseFloat(sum.slice(35));
            
            fetch(`delete_expense/${id}`)
            .then(response => response.json())
            .then(result => {
                
                expense.classList.add('hideclass2')
                sum -= parseFloat(expense.querySelector('#amt').innerHTML)
                
                expense.addEventListener('animationend', () =>  {
                    expense.remove();

                    if (result["size"] === 0) {
                        const empty = document.querySelector('.empty')
                        empty.style.display = 'block'
                        
                    }
                });
                total.innerHTML = `<strong>Total Expense:</strong> Rs.${sum}`;
            })
        }

        function edit_expense(event, id) {
            const btn = event.currentTarget;
            const expense = btn.parentElement.parentElement.parentElement.parentElement;
            const form = expense.querySelector('.form');
            const box = expense.querySelector('.col-12');
            box.style.display = 'none';
            form.style.display = 'block';

            const date = expense.querySelector('#date').innerHTML;
            const dateObj = moment(date, "MMMM D, YYYY").format('YYYY-MM-DD');
            const date_form = form.querySelector('.date_form');

            date_form.setAttribute('max', new Date().toISOString().split('T')[0]);
            date_form.value = dateObj;            
        }
        function close_form(event, id) {
            const btn = event.currentTarget;
            const expense = btn.parentElement.parentElement.parentElement.parentElement.parentElement;
            const form = expense.querySelector('.form');
            const box = expense.querySelector('.col-12');

            box.style.display = 'block';
            form.style.display = 'none';
        }

    </script>

{% endblock %}

{% block body %}

    <h2 class="ml-2">Expenses</h2>
    {% if user.is_authenticated %}

        <button id="filter-btn" class="ml-2 my-2 btn btn-sm btn-info">Filter By</button>
        
        <div class="ml-2 amt-msg" style="color: red; display: none;">Min has to be less than Max</div>

        <div id="filters" class="border border-dark rounded ml-2 col-12 col-md-9 col-lg-6">
            <div class="form-group d-flex align-items-center col-6 p-0" >
                <div class="mr-2 col-8 col-lg-6 p-0 pt-2">Category:</div>
                <select class="form-control border-dark categoryFilter col-10 col-md-8 col-sm-6 col-lg-6">

                    <option value="" selected>All categories</option>

                    {% for category in categories %}

                        <option value="{{ category.title }}">{{ category.title }}</option>

                    {% endfor %}
                </select>
            </div>

            <div class="form-group d-flex align-items-center col-6 p-0">
                <div class="mr-2 col-8 col-lg-6 p-0 pb-2">Amount-Range:</div>
                <div class="form-group col-5 col-sm-3 col-lg-3 p-0">
                    <input class="form-control border-dark minFilter" type="number" placeholder="Min">
                </div>
                <div class="mx-2 pb-3">To</div>
                <div class="form-group col-5 col-sm-3 col-lg-3 p-0">
                    <input class="form-control border-dark maxFilter" type="number" placeholder="Max">
                </div>
            </div>

            <div class="form-group d-flex align-items-center col-6 p-0">
                <div class="mr-2 col-8 col-lg-6 p-0">Month:</div>
                <input type="month" class="monthFilter form-control border-dark col-10 col-md-8 col-sm-6 col-lg-6">
            </div>
            <button onclick="filter()" class="ml-1 btn btn-sm btn-info">Filter</button>
            <button onclick="clear_filter()" class="ml-1 btn btn-sm btn-danger">Clear</button>
        </div>


        <label class="ml-2" for="sort">Sort By:</label>
        <select id="sort" class="form-control border-dark col-lg-3 col-sm-6 col-md-5 col-12 ml-2 mb-3">
            <option value="date-desc">Date (Newest First)</option>
            <option value="date-asc">Date (Oldest First)</option>
            <option value="amount-desc">Amount (Highest First)</option>
            <option value="amount-asc">Amount (Lowest First)</option>
            <option value="category-asc">Category (A-Z)</option>
            <option value="category-desc">Category (Z-A)</option>
        </select>

        <div id="total_expense" class="ml-2" style="font-size: 20px;"><strong>Total Expense:</strong> Rs.{{ total_expense }}</div>

        <div class="expense-Lst row border border-dark rounded ml-2 mb-2 col-12 col-md-9 col-lg-6 p-0 pt-2">
            
            <div class="py-1 pl-2 mb-1 border-bottom border-dark title w-100"><h5>Expense List</h5></div>
            
            {% for expense in expenses %}

                <div class=" border border-dark rounded mx-2 my-2 w-100 expense">

                    <div class="col-12">
                        <h4 class="mt-2" >{{ expense.name }}</h4>
                        <b>Amount: </b>Rs. <a id="amt">{{expense.amount}}</a>
                        <div id="cat" class="mt-2">{{expense.category.title}}</div>

                        <div class="my-1 text-muted d-flex align-items-center justify-content-between">

                            <div id="date" class="flex-grow-1">{{expense.date}}</div>
    
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button onclick="edit_expense(event, '{{ expense.id }}')" type="button" class="btn btn-sm btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button onclick="delete_expense(event, '{{ expense.id }}')" type="button" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>

                        </div>
                    </div>

                    
                    <div class="form w-100" style="display: none;">
                        <div class="w-100 pl-2 pt-2 border-bottom border-dark"><h6>Edit Expense</h6></div>
                        <form action="{% url 'edit_expense' expense.id %}" method="post" class="mx-3 mt-3 w-100">
                            {% csrf_token %}
                            <div class="form-group col-lg-6 col-7 p-0">
                                <input class="form-control border-dark" type="text" name="name" placeholder="Name" value="{{ expense.name }}" required>
                            </div>
                            <div class="form-group col-lg-6 col-7 p-0">
                                <input class="form-control border-dark" type="number" name="amount" placeholder="Amount" value="{{ expense.amount }}" required>
                            </div>
                            <div class="form-group col-lg-6 col-7 p-0">
                                <input class="date_form form-control border-dark" type="date" name="date" required>
                            </div>
                            
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="form-group col-lg-6 col-7 p-0">
                                    <label>Category:</label>
                                    <select class="form-control border-dark" name="Category" required>
                
                                        <option value="" disabled>Select a category</option>
                                        
                                        {% for category in categories %}
                                            {% if category.title == expense.category.title %}
                                                <option value="{{ category.title }}" selected>{{ category.title }}</option>
                                            {% else %}
                                                <option value="{{ category.title }}">{{ category.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    </select>
                                </div>
        
                                <div class="btn-group mr-4" role="group" aria-label="Basic mixed styles example">
                                    <input class="btn btn-sm btn-primary" type="submit" value="Save">
                                    <button onclick="close_form(event, '{{ income.id }}')" type="button" class="btn btn-sm btn-danger">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>                
            
            {% empty %}
            
                <div class="ml-2 mb-2"> No Expenses. </div>

            {% endfor %}

            <div class="empty ml-2 mb-2" style="display: none;">No Expenses. </div>
        </div>

    {% else %}
    
        <a class="ml-2" href="{% url 'index' %}">Login Here</a>

    {% endif %}
    
{% endblock %}